#logo {width: auto; Height: auto; display: block; margin-left: auto; margin-right: auto; }
h1 {text-align: center;}
.info {text-align: center; font-size: 20px;}
h2 { text-transform: uppercase;
font-size: 20px; }
#aboutme{text-align: center; }
#accomplishments { color: blue; }
ul {text-align: left; !important;}
body {background-image: url("STL.jpg");
  background-size: 100% 500px; /*keeps backgound image from covering entire page*/
  background-repeat: no-repeat; } /*background image will not repeat*/
